[Unit]
Description=Check Fastmail for new mails
After=suspend.target

[Service]
Type=oneshot
EnvironmentFile=/etc/fastmail
ExecStartPre=/usr/bin/nm-online --quiet --timeout 30
ExecStart=/home/gcmt/.local/bin/mailcheck.py
User=gcmt

[Install]
WantedBy=multi-user.target suspend.target
