
@import "main-light"

* {
	font: "Noto Sans Regular 10";
	background: rgba(232, 232, 235, 100%);
	foreground: rgba(83, 86, 94, 100%);
	selected-normal-background: rgba(217, 220, 224, 100%);
	separator-color: rgba(217, 220, 224, 100%);
}

window {
	location: center;
	anchor: center;
	width: 200px;
}

listview {
	fixed-height: false;
	scrollbar: false;
}

element, inputbar {
	padding: 2px 6px;
}

case-indicator {
	enabled: false;
}
