priority -50


snippet init "Single-file component setup" b
<template>
</template>

<script>
export default {
	$0
}
</script>

<style>
</style>
endsnippet

snippet data "data() {..}" b
data() {
	return {
		$0
	};
},
endsnippet

snippet compo "components: {..}" b
components: {
	$0
},
endsnippet

snippet compu "computed: {..}" b
computed: {
	$0
},
endsnippet

snippet meth "methods: {..}" b
methods: {
	$0
},
endsnippet

snippet props "props: {..}" b
props: {
	$0
},
endsnippet
