[Unit]
Description=Check if something needs to be synced
OnFailure=notify-fail@%N.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/sync-cloud -check
