[Unit]
Description=Check regularly for updates

[Timer]
OnBootSec=20m
OnUnitActiveSec=1h
Unit=updates-check.service

[Install]
WantedBy=timers.target
